---
layout: default
title: Index
class: index
---
{% for post in site.posts | limit: 1 %}
  <div class="feature">
    <a href="{{ post.url }}" class="link">
      <img src="{{ post.feature_image }}" alt="{{ post.title }}">
      <h4 class="beta">{{ post.title }}</h4>
    </a>
    <div>
      {{ post.excerpt }}
    </div>
    <cite>
      <em class="first-label">Article by: </em>{{ post.author }}
      <em>Posted on: </em>{{ post.date | date: "%-d %B %Y" }}
    </cite>
  </div>
{% endfor %}

<div class="issue-articles">
  <h3><a href="/issue">Articles in This Issue</a></h3>
  {% for post in site.posts | offset: 1 | limit: 4 %}
    <div>
      <a href="{{ post.url }}" class="link">
        <span>
          <img src="{{ post.feature_image }}" alt="{{ post.title }}">
        </span>
        <h4>{{ post.title }}</h4>
      </a>
      <p>{{ post.excerpt }}</p>
      <cite>
        <em class="first-label">Article by: </em>{{ post.author }}
        <em>Posted on: </em>{{ post.date | date: "%-d %B %Y" }}
      </cite>
    </div>
  {% endfor %}
</div>