.issue-articles {
  @include span-columns( 9 of 9 );

  div {
    width: 48%;
    float: left;
    clear: both;
    margin-bottom: 30px;
    &:nth-child(odd) {
      clear: none;
      float: right;
    }
  }
}