.wrap {
  @include outer-container;
  margin: 0 20px;

  @include media( $laptop ) {
    margin: auto;
  }
}

.page {
  width: 100%;
  margin: auto;
  float: none;

  @include media( $tablet ) {
    width: 692px;
    margin-top: 20px;
    clear: both;
    margin: 0 auto;
  }

  @include media( $laptop ) {
    width: 692px;
    float: left;
    margin: 0;
    margin-top: 20px;
  }
}