.page {
  @include media( $smaller-than-desktop ) {
    width: 692px;
    margin: auto;
    float: none;
    &:last-child {
      margin-right: auto;
    }
  }

  @include media( $desktop ) {
    @include span-columns( 9 of 12 );
    float: left;
    margin-top: 20px;
  }

  @include media( $smaller-than-tablet ) {
    @include span-columns( 12 of 12 );
    margin: auto;
  }
}