.wrap {
  @include outer-container;

 @include media( $laptop ) {
    $max-width: 960px;
    @include outer-container;
  }
}

.page {
  @include span-columns( 11 of 12 );
  margin: auto;
  float: none;

  @include media($laptop) {
    @include span-columns( 9 of 12 );
    float: left;
  }

  @include media( $smaller-than-laptop ) {
    @include span-columns( 11 of 12, collapse );
    margin: auto;
    float: none;
    &:last-child {
      margin-right: auto;
    }
  }
}